<div class="page-container">

  <div class="card">

    <h2 class="title">My Bookings</h2>

    <table class="custom-table">

      <thead>
        <tr>
          <th>Patient</th>
          <th>Date</th>
          <th>Slot</th>
          <th>Mode</th>
          <th>Details</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>

        @for (b of bookings(); track b.appointmentId) {

        <tr>
          <td>{{ b.patientName }}</td>
          <td>{{ b.date }}</td>
          <td>{{ b.slot }}</td>

          <!-- ✅ Mode -->
          <td>
            <span
              [class.online]="modes()[b.appointmentId] === 'Online'"
              [class.offline]="modes()[b.appointmentId] === 'Offline'">

              {{ modes()[b.appointmentId] || 'Loading...' }}

            </span>
          </td>

          <!-- ✅ Details -->
          <td>
            @if (modes()[b.appointmentId] === 'Online') {
              <a [href]="meetingLink" target="_blank">
                Join Meeting
              </a>
            }
            @else if (modes()[b.appointmentId] === 'Offline') {
              {{ address }}
            }
            @else {
              Loading...
            }
          </td>

          <!-- Action -->
          <td>
            <button class="btn-danger"
                    (click)="deleteBooking(b.appointmentId)">
              Cancel
            </button>
          </td>
        </tr>

        }

      </tbody>

    </table>

  </div>

</div>