<div class="dashboard-container">

  

  <div class="card-wrapper">

    <!-- Book Appointment -->
    <div class="card">
      <h4>Book Appointment</h4>
      <p>Schedule a new appointment</p>
      <button class="primary-btn" routerLink="/mode">
        Book Now
      </button>
    </div>

    <!-- My Appointments -->
    <div class="card">
      <h4>My Appointments</h4>
      <p>View your bookings</p>
      <button class="success-btn" routerLink="/myappointment">
        View
      </button>
    </div>

  </div>

</div>