<div class="container mt-5">

  <h2 class="text-center mb-4">Dashboard</h2>

  <div class="row">

    <!-- Book Appointment -->
    <div class="col-md-6">
      <div class="card text-center p-4 shadow">
        <h4>Book Appointment</h4>
        <p>Schedule a new appointment</p>
        <button class="btn btn-primary" routerLink="/mode">
          Book Now
        </button>
      </div>
    </div>

    <!-- My Appointments -->
    <div class="col-md-6">
      <div class="card text-center p-4 shadow">
        <h4>My Appointments</h4>
        <p>View your bookings</p>
        <button class="btn btn-success" routerLink="/appointments">
          View
        </button>
      </div>
    </div>

  </div>

</div>
